@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Plugin.Widget.Models.WidgetModel;

<div>
    <p>Name : @Model.Name</p>
    <p>Body : @Model.Body</p>
</div>

<p>
    <a asp-controller="Home" asp-action="Index">Home Page</a>
</p>


