@{
    ViewData["Title"] = "Checkout Index";
    Layout = "~/Areas/Plugin/Views/Shared/_Layout.cshtml";
}

<h1> Area Plugin-Index Plugin.Payment Page</h1>



<p>
    <a asp-area="" asp-controller="Home" asp-action="Index">Home Page</a>
</p>

